.board {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    align-items: center;
    position: relative;
    border-radius: 20px;
    margin-bottom: 20px;
}